.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template:
    'header header header' 50px
    'code . display' 1fr
    'sequencer sequencer sequencer' 50px /
    1fr 2px 1fr;
}

@media screen and (max-width: 800px) {
  .layout {
    grid-template:
      'header header' 50px
      'code code' 1fr
      '. .' 2px
      'display display' 1fr
      'sequencer sequencer' 50px /
      1fr 1fr;
  }
}


.layout>*:nth-child(1) {
  grid-area: header;
}

.layout>*:nth-child(2) {
  grid-area: code;
}

.layout>*:nth-child(3) {
  grid-area: display;
}

.layout>*:nth-child(4) {
  grid-area: sequencer;
}
