.container {
  display: grid;
  grid-template-areas: 'buttons bar';
  grid-template-columns: 40rem 1fr;
}

.container>*:nth-child(1) {
  grid-area: buttons;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  background-color: #3f4448;
  color: #fff;
}

.container>*:nth-child(2) {
  grid-area: bar;
}
