.container {
  position: absolute;
  margin: 0.5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0);
}

.cursor {
  position: relative;
}

.cursor::after {
  content: ' ';
  display: block;
  width: 2px;
  height: 1em;
  position: absolute;
  right: -1px;
  top: 0;
  background: #fff;
}
