@import 'highlightjs/styles/hybrid.css';
@import 'sanitize.css';

html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
  overflow: hidden;
}

code.hljs {
  padding-bottom: 1.5em;
}

pre {
  margin: 0;
}
