@import 'highlightjs/styles/hybrid.css';
@import 'sanitize.css';
@import 'icomoon.css';

html {
  font-size: 62.5%;
}

html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
  overflow: hidden;
}

pre {
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
