.container {
  display: block;
  position: relative;
}

.input {
  border: none;
  padding: 0.5em;
  width: 100%;
  min-height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(0, 0, 0, 0);
  background: none;
  overflow: hidden;
}

.input-container {
  margin: 0;
  padding: 0;
}
